@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
    :root {
        --color-main: 21, 46, 68; /* main color */
        --color-main-foreground: 247, 248, 249; /*  main foreground color */
        --color-text: 64, 79, 101; /*  text color */
    }
}

/* custom css for sidebar dark mode  */
.dark .rs_main_sidebar {
    background-color: rgb(3 7 18);
    color: #d5dae1;
    box-shadow: 0px 0px 2px 0 rgba(255, 255, 255, 0.5);
}
.dark .rs_user {
    background-color: rgb(3 7 18);
}
.dark .rs-offcanvas {
    background-color: rgb(3 7 18);
    color: #d5dae1;
}
